/* Title */


#title {
  background-color: #393e46;
  }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;

}

.introMessage:hover{
 color: #240041;
}

h3{
  font-family: "Montserrat-Bold";
  font-weight: 600;
}

p{
  color: pink;
  font-weight: bold;
}

h2{
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 50px;
}


.container-fluid {
  padding: 3% 15% 7%;
}


/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  color: #fff;
}

.navbar-brand:hover{
color: #240041;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
  color: #fff;
  font-weight: 400;
}

.nav-link:hover{
color: #240041;
}

/* Download Button */
.download-button{
  margin: 3% 5% 3% 0;
}



/* Title Image */

.title-image {
  width: 300%;
  transform: rotate(25deg);
  margin: 0 0 0 10%;
  right: 30%;

}

@media (max-width: 991px) {

#title{
  text-align: center;
}

  .title-image{
    position: static;
    transform: rotate(0);
  }


}
/* Feature Section */


#features{
  margin-top: 6%;
  background-color: #fff;
}

.feature-description {
  font-weight: bold;
}

.feature-box{
  text-align: center;
  padding: 4% 3%;
}

.icons{
  color: #240041;
  margin-bottom: 1.5rem;
}

.icons:hover{
  color: pink;
}

/* Testimonials Section */

#testimonials {
  background-color: #393e46;
  text-align: center;
}

.carousel-item{
  padding: 7% 15%;
}

#press {
    background-color: #393e46;
    text-align: center;
    padding-bottom: 3%;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 50px;
}

.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section  */

.pricing-header{
  color: #240041;
  padding-top:10px;
}

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-columns{
  padding: 3% 2%;
}


/* CTA SECTION */

#cta {
  background-color: #240041;
  color: #fff;
  padding: 7% 2%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.cta-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
}

/* Footer Section */

#footer {
  background-color: #fff;
  text-align: center;
}

.footer-container{
  text-align: center;
  padding: 7% 15%;
}

.social-icons{
  margin: 5px 20px;
}

#mailPopUp{
  display: none;
  align: center;
  text-align: left;
  padding: 40%;
}

.inputs{
  padding: 10%;
  display: block;
  margin-top: 10%;
}

.submit{
  text-align: center;
  align: center;
  margin: 50px 10px;
}

.formImage {
  margin: 5% 45%;
  padding: 5px;
  display: none;
}

.emailMessage {
  display: none;
  margin: 5% 45%;
}

.fa-envelope:hover {
    color: #240041;
}

.fa-twitter:hover {
    color: #240041;
}

.fa-facebook-f:hover {
    color: #240041;
}

.fa-instagram:hover {
    color: #240041;
}
